<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>

  <div class="user">
    <div class="tech">
      <p style="font-size: 1.75rem;">Youtube Partner</p>
      <img alt="youtube's logo" src="{{ "/assets/img/yt_logo.png" | prepend: site.baseurl }}" style="width: 20vw; height: auto;" />
      <p>I was invited to the YouTube Partner Program early this year, where I developed expertise in SEO, trend analysis, and algorithm research within the broader online ecosystem. I utilized tools such as Google Analytics, Python for in-depth data analysis, as well as Excel to optimize content performance and audience engagement. My work included identifying key performance metrics, automating data collection processes, and adjusting strategies based on data-driven insights, leading to an increase in engagement of over 400% as well as reaching nearly 2 million impressions over a two month period. This experience has strengthened my ability to work with large data sets, analyze complex patterns, and develop efficient solutions to enhance digital visibility.
      </p>
    </div>
  </div>

  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" width="70" height="70.5" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg" width="70" height="70.5" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" width="70" height="70.5" />
      <p>I work with Python, C++, and Java for my personal projects and have successfully applied them in backend development. I'm also familiar with C and Assembly (Intel x86).</p>
    </div>
    <div class="tech">
      <h2>Web Design</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <p>I've used JavaScript, HTML, and React extensively for front-end web development, and have experience designing and creating websites from scratch.</p>
    </div>
    <div class="tech">
      <h2>Other Skills</h2>
      <i class="devicon-git-plain"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/premierepro/premierepro-original.svg" width="75" height="75.5" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unity/unity-original.svg"  width="75" height="75.5" />
      <p>I possess a wide range of other skills, including editing with Premiere Pro, using Git and Github, as well as game engines such as Unity.</p>
    </div>
</div>

