 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming Languages</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" />
      <p>I often use Python, C++, as well as Java for my own projects, but I am also proficient in C.</p>
    </div>
    <div class="tech">
      <h2>Web Design</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <p>I've designing and maintaining webpages for various projects, including building them from scratch.</p>
    </div>
    <div class="tech">
      <h2>Other Skills</h2>
      <i class="devicon-git-plain"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/premierepro/premierepro-original.svg" />
      <i class="devicon-atom-original-wordmark"></i>
      <p>I also possess a variety of other skills, including the ability to use git, game design and development, as well as video editing.</p>
    </div>
</div>
