<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="lua's logo" src="{{ "/assets/img/lua_transparent.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Building a Math-Focused Discord Bot </h3>
    <ul>
      <li> Enhancing API Knowledge, Applying Web Development Skills </li>
    </ul>
    <p>I created a discord bot (named Lua) to illustrate mathematical concepts in an easy to understand way, along with a website documenting various commands. The overall goal of this project was to better understand APIs, as well as to present various computational problems in an accessible way. By referencing and expanding upon previously-existing Discord-bots, I gained experience working as a full stack developer through managing both the user data stored, as well as fine-tuning how users experience with the bot and website. This gave me an opportunity to further familiarize myself with Python, while building upon my HTML and CSS skills. I also learnt about asyncio, as well as how important designing and building scalable systems really is.</p>
    <a class="project-link" href="https://replit.com/@summer8n2/lua-bot">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="fjudge's user interface" src="{{ "/assets/img/fjudge_ui.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Creating an Judge for Competitive Programming </h3>
    <ul>
      <li> GUI Design, User Experience</li>
    </ul>
    <p>In my Grade 12 Computer Science class, I noticed that lots of students around me were interested in Competitive Programming, but were unsure where to start. To alleviate this, I created a programming judge with its own GUI, along with a curated set of problems to help those interested to better familiarize with the expectations and technical details of a competitive programming contest. The judge checks more than just the correctness of the output: it determines whether the user’s submission is of the correct time complexity class through analysis and a carefully crafted time and memory limit. Through being receptive to feedback and going through several iterations, a final version was adopted by the computer-science club at my school and used to train competitors for future contests.
    </p>
    <a class="project-link" href="https://replit.com/@summer8n2/fjudge">Check it out</a>
  </div>
</div>
