<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0;url=https://maxxu.vercel.app">
    <title>Redirecting...</title>
</head>
<body>
    <p>If you are not redirected automatically, follow this <a href="https://maxxu.vercel.app">link</a>.</p>
</body>
</html>


<!-- <!DOCTYPE html>



<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      {% if page.carousels %}
            {% for carousel in page.carousels %}
                {% include carousel.html number=forloop.index %}
            {% endfor %}
        {% endif %}
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body> -->